
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{display: flex;}
.dark-02{color: #727272;}
.dark-03{color: #424242;}
.bg-light{background-color: rgba(255, 144, 14,0.1);}
.btn-primary{background-color: #FF900E;color: white;padding: 20px 25px;font-size:
     1.25rem ;font-weight: 600;border-radius: 8px;border-style: none;}
     main{max-width: 1440px;margin: 0 auto;}
     main > section{margin-top: 130px;}

/* header styles */


/* nav-bar related styles */
.navbar{justify-content: space-between;align-items: center;}
.brand{font-weight: 700;font-size: 3rem;}
.nav-items{list-style: none;margin-right: 30px;}
.nav-link{text-decoration: none;font-weight: 500;}
.banner,.navbar{max-width: 1440px;margin: 0 auto;}
/* banner-related */
.banner-content{max-width: 850px;margin: 0 auto;text-align: center;margin-bottom: 50px;}
.banner-tittle{font-weight: 700;font-size: 4rem;}
.banner-image{width: 100%;}
/* teams & features */
.teams{align-items: center;}
.team-imgs{display: grid;grid-template-columns: repeat(2,1fr);gap: 24px;}
.our-features{margin-left: 130px;max-width: 530px;}
.section-tittle{font-size: 2.8rem;font-weight: 700;}
#quick-list{font-weight: 600;}
.text-primary{color: #FF900E;}
/* fact related styles */
.fact-card{border: 1px solid #FF900E;width: 240px;height: 240px;border-radius: 8px;text-align: center;align-items: center;justify-content: center;}
.facts-container{display: grid;grid-template-columns: repeat(4,1fr);}
.fact-number{font-weight: 600;font-size: 2.8rem;margin-top: 10px;margin-bottom: 20px;}
.fact-name{font-size: 1.24rem;font-weight: 600;margin-top: 10px;}
.fact-description{max-width: 540px;}
/* sponser related */
.sponser-info{max-width: 540px;margin: 50px auto;text-align: center;}
.sponser-companies {display: grid;
grid-template-columns: repeat(5,1fr);align-content: center;gap: 50px;align-items: center;}
.sponser-companies img{filter: grayscale(100%);}
.sponser-tittle{font-size: 2.5rem;font-weight: bold;}
/* responsive media quary */
@media screen and (max-width:576px) {.navbar,
    .nav-links,
    .teams
    {flex-direction: column;}
    .team-imgs,
    .facts-container,
    .sponser-companies
    {grid-template-columns:repeat(1,1fr) ;}
.our-features,.sponser-companies{margin-left: 20px;}
.facts-container{justify-items: center;}
    
}
@media screen and (max-width:992px) and (min-width:576px) {
    .teams{flex-direction: column;}
    .our-features{margin: 50px auto;}
    .sponser-companies,.facts-container{grid-template-columns: repeat(2,1fr);gap: 50px;justify-items: center;}
}